@use "global" as *;

.btn {
    background: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    max-width: rem(300);
    width: 100%;

    @include mq(md) {}
}

.btn>a {
    display: block;
    padding: rem(10) 0;

    @include mq(md) {
        padding: rem(15) 0;
    }
}